     <!-- ============ HEADER ============ -->
      <%- include ('./partials/head.ejs') %>

   <!-- ============ HEADER============ -->
   <%- include ('./partials/header.ejs') %>

 

      <div class="container">
		<h1 class="text-center mb-5 main-title">List of Equipment</h1>
		<div class="row ">
            <% equipment.forEach(oneEquipment => { %>
			<div class="col-md-4">
				<div class="gallery-item">
					<a href="/equipment/<%= oneEquipment._id %>">
                        <img src=<%= oneEquipment.img %> alt="Image_id <%= oneEquipment._id %>">
                    </a>
				</div>
			</div>
            <% }) %>    
        </div>

    <!-- ============ FOOTER============ -->
    <%- include ('./partials/footer.ejs') %>

      
