     <!-- ============ HEADER ============ -->
      <%- include ('./partials/head.ejs') %>

   <!-- ============ HEADER============ -->
   <%- include ('./partials/header.ejs') %>

 

      <div class="container">
		<h1 class="text-center mb-5 main-title">List of Equipment</h1>
		<div class="row ">
            <% equipmentList.forEach(oneEquipment => { %>
                
			<div class="col-md-4">
				<div class="gallery-item">
					<a href="/equipment/<%= oneEquipment._id %>">
                        <a href="/equipment/<%= oneEquipment._id %>">
                            <% if (oneEquipment.img && oneEquipment.img.data) { %>
                                <img src="data:<%= oneEquipment.img.contentType %>;base64,<%= oneEquipment.img.data.buffer.toString('base64') %>">
                            <% } else { %>
                                <img src="/uploads/gr-20_alt2.jpeg">
                            <% } %>
                        </a>
                    </a>
				</div>
			</div>
            <% }) %>    
        </div>

    <!-- ============ FOOTER============ -->
    <%- include ('./partials/footer.ejs') %>





      
